 .form-container {
   width: 100%;
   margin: auto;
   border-radius: 5px;
   background-color: #f2f2f2;
   padding: 20px;
 }

 .form-row {
   display: flex;
   justify-content: space-between;
   margin-top: 6px;
   margin-bottom: 16px;
 }

.form-row:hover {
  background-color: #2a2185;
  color: white;
  border-radius: 20px;

}

 .for-row label {
   flex: 1;
   padding: 10px 0;
   padding-left: 60px;
   
   text-align: start;
 }

 .form-row input,
 .form-row datalist,
 .form-row textarea {
   flex: 2;
   box-sizing: border-box;
   width: 100%;
   padding: 12px;
 }

 .button-container {
   margin-top: 20px;
   margin-left: 100px;
   text-align: center;
   display: flex;
 }

 .form-row button {
   padding: 10px;
   margin-right: 10px;
   color: white;
   padding: 12px 20px;
   border-radius: 4px;
   border: none;
   cursor: pointer;
 }

#exit_btn {
  background-color: #f44336;
 }

#save_btn {
  background-color: #04AA6D;
}

#modify_btn {
  display: 'none';
  background-color: rgb(42, 111, 239);
}

/* button[type=button]:hover{
  background-color: #45a049;
} */